.background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* Set and modify background picture */
    background: linear-gradient(
        rgba(255,255,255,0.5), 
        rgba(255,255,255,0.5)
    ), url("./assets/background.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: 75vh;
}

.search {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25vh;
    border: none;
    /* Box sizing makes the input width stay at 100px rather than increase to 120px due to the padding. */
    box-sizing: border-box;

    /* Add glassmorphic effect. */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 1);
}

.temperature {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    vertical-align: middle; 
    height: 20vh;
    width: 25vh;
    margin-top: 25px;

    /* Add glassmorphic effect. */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 1);
}